In [1]:
import pandas as pd

frame = pd.DataFrame([[1,2,3],[4,5,6]])
frame

   0  1  2
0  1  2  3
1  4  5  6

판다스는 데이터를 표형태로 처리할 수 있어서 데이터 핸들링이 편하다.

In [4]:
import pandas as pd

data = [['AMY', 13, 'girl'], 
            ['BEN', 13, 'boy'],
            ['EVA', 14,  'girl'], 
            ['KIM', 14,  'girl'], 
            ['NEO', 14, 'boy']]

df = pd.DataFrame(data, columns=['Name', 'Age', 'Sex'])

print(df)

  Name  Age   Sex
0  AMY   13  girl
1  BEN   13   boy
2  EVA   14  girl
3  KIM   14  girl
4  NEO   14   boy

In [3]:
print(df['Name'])

0    AMY
1    BEN
2    EVA
3    KIM
4    NEO
Name: Name, dtype: object